/* Colors
   ========================================================================== */

$light: #fff;
$dark: #000;


$base-background-color: $light;

/* Gradients
   ========================================================================== */


/* Default button colors
   ========================================================================== */


/* Z-indices
    ========================================================================== */


